<template>
    <v-card class="opaque">
        <v-card-text class="pt-0 py-5">
            <v-form ref="form" v-model="formValid"  class="mt-5">
                <br>
                <v-text-field v-model="email" :rules="formRules.email" outlined dense label="Email"></v-text-field>
                <v-text-field
                outlined dense
                v-model="password"
                :rules="formRules.required"
                label="Contraseña"
                type="password"
                ></v-text-field>
                <v-btn
                    color="cyan"
                    large
                    depressed
                    block
                    dark
                    @click="login"
                    :loading="loading"
                    :disabled="loading || !formValid"
                >ENTRAR</v-btn>
                
            </v-form>
        </v-card-text>
        <v-snackbar
      v-model="formError.state"
      :multi-line="true"
      :timeout="formError.timeout"
      :color="formError.color"
      :top="true"
    >
      {{ formError.msg }}
      <v-btn color="white" text @click="formError.state = false">Cerrar</v-btn>
    </v-snackbar>
    </v-card>
</template>

<script>
import { formValidation } from "@/libs/formValidation";
import firebase from "firebase";
export default {
  name: "Login",
  mixins: [formValidation],
  data() {
    return {
      email: "",
      password: "",
      loading: false,
      firebaseAuth: firebase.auth()
    };
  },
  methods: {
      creater() {
          const getList = firebase
        .functions()
        .httpsCallable("addSuperAdminUser");
        getList(null).then(() => {
            alert('listo');
        })
      },
    login() {
      this.loading = true;
      this.firebaseAuth
        .signInWithEmailAndPassword(this.email, this.password)
        .then(() => {
            this.getClaims();
        })
        .catch(() => {
          this.loading = false;
          this.alertError(
            "error",
            "Datos incorrectos, por favor verifique correo y contraseña."
          );
          this.$refs.form.reset();
        });
    },
    getClaims() {
      this.firebaseAuth.currentUser.getIdTokenResult(true).then(res => {
        this.loading = false;
         if (res.claims.administrador) {
          this.$router.push("/dashboard");
        } else {
            alert('No tienes permisos para acceder, si tienes dudas contáctanos');
          this.alertError(
            "error",
            "No tienes permisos para acceder, si tienes dudas contáctanos"
          );
          firebase.auth().signOut().then(() => {
                this.loading = false;
                this.$refs.form.reset();
          });
        }
      });
    }
    
  },

};
</script>

<style lang="scss" scoped>
@import "./sessions.scss";
</style>
