.login-title {
    line-height: 80px;
    font-weight: 900;
    font-size: 32px;
}

.first-button {
    display: inline-block;
    color: #2E2E2E;
}

.description {
    font-size: 14px;
    line-height: 28px;
}

