<template>
  <section>
    <v-app-bar
        color="cyan"
        dense
      >
      <v-toolbar-title class="ml-2">SISTEMA DE REGISTRO</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu offset-y>
      <template v-slot:activator="{ on }">
      <v-btn outlined class="mr-2" v-on="on">
        Reportes
      </v-btn>
       </template>
      <v-list>
        <v-list-item @click="downloadReport(true)">
          <v-list-item-title>Reporte de usuarios requeridos</v-list-item-title>
        </v-list-item>
        <v-list-item @click="downloadReport(false)">
          <v-list-item-title>Reporte de usuarios no requeridos</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
      <v-btn icon @click="logout()">
          <v-icon>mdi-exit-to-app</v-icon>
      </v-btn>
    </v-app-bar>
    <v-container fluid>
      <v-row align-content="center" justify="center" class="ma-0">
        <v-col cols="12" align="center" justify="center">
            <router-view />
        </v-col>
      </v-row>
    </v-container>
    <v-dialog v-model="dialog" light fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-container class="py-5 reportTable">
          <h3 class="display-2 font-weight-light text-center">Reporte de 
            <span v-if="this.filter">usuarios requeridos</span>
            <span v-else>usuarios no requeridos</span>
          </h3>
          <div class="py-5" v-if="result.length === 0 && loading === true">
            <h3 class="display-1 font-weight-light text-center">CARGANDO</h3>
          </div>
          <div class="py-5" v-if="result.length === 0 && loading === false">
            <h3 class="display-1 font-weight-light text-center">No se encontraron ciudadanos</h3>
          </div>
          <v-data-table class="py-5 " light v-if="result.length > 0 && loading === false" :headers="headers" :items="result" hide-default-footer>
          </v-data-table>
        </v-container>
      </v-card>
    </v-dialog>
  </section>
</template>

<script>
  import firebase from "firebase";
  export default {
  name: "Dashboard",
  data() {
    return {
      dialog: false,
      loading: false,
      result: [],
      filter: null,
      headers: [
        {
          text: "Identificacion",
          value: "reporte.identificacion",
          sortable: false,
          align: "left"
        },
        {
          text: "Nombres",
          value: "reporte.nombres",
          sortable: false,
          align: "left"
        },
        {
          text: "Apellidos",
          value: "reporte.apellidos",
          sortable: false,
          align: "left"
        }
      ],
    }
  },
  methods: {
    logout() {
      // Logout function
      firebase
        .auth()
        .signOut();
    },
    accountCheck() {
      // Checks if the account is active
      firebase.auth().onAuthStateChanged(user => {
        if(!user) {
          this.$router.push("/");
        }
      });
    },
    downloadReport(data) {
      this.dialog = true;
      this.loading = true;
      this.filter = data;
      this.searchFilter();
    },
    searchFilter() {
      const getList = firebase
        .functions()
        .httpsCallable("getReportService");
      
      const req = {
        value: this.filter
      };

      getList(req)
        .then(res => {
          this.loading = false;
          if (res.data && typeof res.data !== "string") {
            res.data.forEach(item => {
              this.result.push(item);
            });
            console.log(this.result);
            setTimeout(() => {
              window.print('reporte.pdf');
              this.dialog = false;
              this.result= [];
            },2000);
          } else {
            setTimeout(() => {
              this.dialog = false;
              this.result= [];
            },2500);
          }
        })
        .catch(() => {
          this.loading = false;
          setTimeout(() => {
            this.dialog = false;
            this.result= [];
          }, 2500);
        });
    },
  },
  created() {
    this.accountCheck();
  }
};
</script>
