<template>
  <v-container fill-height fluid class="session-container">
    <v-row align-content="center" justify="center" class="ma-0">
      <v-col cols="12" sm="6" md="5" lg="4" align="center" justify="center" align-self="stretch">
          <img src="@/assets/logo.png" alt="logo" class="mx-1 mb-5" style="max-width: 250px;">
          <router-view />
      </v-col>
    </v-row>
  </v-container>
</template>

