.session-container{
  background-color: #1976D2;
    /*background: linear-gradient(190deg, rgb(70, 166, 245), rgb(165, 142, 67));
    &::before {
        content: ' ';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        background-image: url('./assets/background.jpg');
        background-size: cover;
        filter: brightness(0.8) blur(3px) contrast(1.5) grayscale(1);
        opacity: 0.6;
    }*/
}

.v-select.v-select--chips .v-select__selections {
  min-height: 30px;
}

.v-label {
  font-size: 12px;
}

.on-top {
  margin-top: -150px;
}

.v-sheet-offset {
  top: -24px;
  position: relative;
}

.no-act.v-btn--active:hover::before,
.no-act.v-btn--active::before {
  opacity: 0 !important;
}

input:read-only {
  color: #777!important;
}


.reportTable .v-data-table.theme--dark {
  color: #333!important;
}

.opaque {
  background-color: rgba($color: #000000, $alpha: 0.5)!important;
}

.theme--dark.v-list {
  background-color: rgba($color: #00838F, $alpha: 1.0)!important;
}

.theme--dark.v-data-table {
  background-color: transparent!important;
}

.theme--dark.v-data-table tbody tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
background: #2f6389!important;
}


.theme--dark.v-application  {
  background-color: #1976D2!important;
}

.v-application .border-1.transparent {
  border: 1px solid #00BCD4!important;
  border-color: #00BCD4!important;
}

.detail {
  p {
    margin: 0!important;
  }
}

@media (min-width: 1904px) {
  .container {
    max-width: 1264px !important;
  }
  .container.container--fluid {
    max-width: 2000px !important;
  }
}
