<template>
  <v-container>

    <v-row class align="center" justify="start">
      <v-col cols="12" sm="6" md="6" lg="6" align="start" justify="flex-start">
        <v-btn
          color="primary"
          outlined
          active-class="no-act"
          to="/dashboard/"
        >Volver</v-btn>
      </v-col>
    </v-row>

    <v-card class="py-2 opaque detail" v-if="personData">
      <v-row class="fill-height px-4" align="center" justify="center">
        <v-col cols="12">
          <div class="display-1 px-0">DATOS DEL CIUDADANO</div>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4" align="center" justify="center">
          <v-sheet class="elevation-0 py-3 border-1 mx-5" color="transparent">
            <h4>Requerido</h4>
            <p v-if="personData.reportado">Si</p>
            <p v-else>No</p>
          </v-sheet>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4" align="center" justify="center">
          <v-sheet class="elevation-0 py-3 border-1 mx-5" color="transparent">
            <h4>Nombres y apellidos</h4>
            <p>{{personData.nombres}} {{personData.apellidos}}</p>
          </v-sheet>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4" align="center" justify="center">
          <v-sheet class="elevation-0 py-3 border-1 mx-5" color="transparent">
            <h4>Identificación</h4>
            <p>{{personData.identificacion}}</p>
          </v-sheet>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4" align="center" justify="center">
          <v-sheet class="elevation-0 py-3 border-1 mx-5" color="transparent">
            <h4>Estatura</h4>
            <p>{{personData.estatura}}</p>
          </v-sheet>
        </v-col>
         <v-col cols="12" sm="6" md="4" lg="4" align="center" justify="center">
          <v-sheet class="elevation-0 py-3 border-1 mx-5" color="transparent">
            <h4>Lugar de nacimiento</h4>
            <p>{{personData.lugarNacimiento}}</p>
          </v-sheet>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4" align="center" justify="center">
          <v-sheet class="elevation-0 py-3 border-1 mx-5" color="transparent">
            <h4>Fecha de nacimiento</h4>
            <p>{{personData.fechaNacimiento}}</p>
          </v-sheet>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4" align="center" justify="center">
          <v-sheet class="elevation-0 py-3 border-1 mx-5" color="transparent">
            <h4>Lugar de expedición</h4>
            <p>{{personData.lugarExpedicion}}</p>
          </v-sheet>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4" align="center" justify="center">
          <v-sheet class="elevation-0 py-3 border-1 mx-5" color="transparent">
            <h4>Fecha de expedición</h4>
            <p>{{personData.fechaExpedicion}}</p>
          </v-sheet>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4" align="center" justify="center">
          <v-sheet class="elevation-0 py-3 border-1 mx-5 " color="transparent">
            <h4>Grupo sanguineo</h4>
            <p>{{personData.grupoSanguineo}}</p>
          </v-sheet>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4" align="center" justify="center">
          <v-sheet class="elevation-0 py-3 border-1 mx-5" color="transparent">
            <h4>RH</h4>
            <p>{{personData.rH}}</p>
          </v-sheet>
        </v-col>
      <!--FORM END-->
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "CiudadanoView",
  data() {
    return {
      personData: null,
      loading: false
    };
  },
  async mounted() {
    if (this.$store.state.person) {
      this.personData = this.$store.state.person.data;
      console.log(this.personData)
    } else {
      this.$router.push("/dashboard");
    }
  }
};
</script>
