
<template>
  <v-container fill-height>
    <div class="text-left mb-3">
      <v-btn color="primary" outlined active-class="no-act" to="/dashboard/">Volver</v-btn>
    </div>
    <v-card class="py-2 mb-5 opaque" outlined>
      <h1 class="display-1 py-5">EDITAR CIUDADANO</h1>
      <!--FORM INIT -->
      <v-form ref="form" v-model="formValid">
        <v-row class="fill-height px-4" align="center" justify="center">
          <v-col cols="12" sm="12" md="6" lg="6">
            <v-text-field
              v-model="form.nombres"
              :rules="formRules.text"
              :counter="90"
              label="Nombres *"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="6" lg="6">
            <v-text-field
              v-model="form.apellidos"
              :rules="formRules.text"
              :counter="90"
              label="Apellidos *"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="6" lg="6">
            <v-text-field
              v-model="form.identificacion"
              :rules="formRules.int"
              readonly
              :counter="15"
              label="Identificación *"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="6" lg="6">
            <v-select
              v-model="form.grupoSanguineo"
              :items="grupoSanguineoList"
              :rules="formRules.required"
              label="Grupo sanguineo *"
              required
            ></v-select>
          </v-col>
          <v-col cols="12" sm="12" md="6" lg="6">
            <v-select
              v-model="form.rH"
              :items="RHList"
              :rules="formRules.required"
              label="RH *"
              required
            ></v-select>
          </v-col>
          <v-col cols="12" sm="12" md="6" lg="6">
            <v-text-field
              v-model="form.estatura"
              :rules="formRules.smallDecimal"
              :counter="4"
              label="Estatura *"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="6" lg="6">
            <v-select
              v-model="form.lugarNacimiento"
              :items="ciudades"
              :rules="formRules.required"
              label="Lugar de nacimiento *"
              required
            ></v-select>
          </v-col>
          <v-col cols="12" sm="12" md="6" lg="6">
            <v-menu
              ref="menu"
              v-model="datePickerMenuNac"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="form.fechaNacimiento"
                  label="Fecha de nacimiento *"
                  :rules="formRules.required"
                  required
                  append-icon="mdi-calendar"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="form.fechaNacimiento"
                :min="min"
                :max="max"
                no-title
                scrollable
                @input="datePickerMenuNac = false"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="12" sm="12" md="6" lg="6">
            <v-select
              v-model="form.lugarExpedicion"
              :items="ciudades"
              :rules="formRules.required"
              label="Lugar de expedición *"
              required
            ></v-select>
          </v-col>
          <v-col cols="12" sm="12" md="6" lg="6">
            <v-menu
              ref="menu"
              v-model="datePickerMenuExp"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="form.fechaExpedicion"
                  label="Fecha de expedición *"
                  :rules="formRules.required"
                  required
                  append-icon="mdi-calendar"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="form.fechaExpedicion"
                :min="form.fechaNacimiento"
                :max="max"
                no-title
                scrollable
                @input="datePickerMenuExp = false"
              ></v-date-picker>
            </v-menu>
          </v-col>

          <v-col cols="12" justify="center" align="center">
            <v-divider class="mx-0 my-5"></v-divider>
            <v-switch v-model="form.reportado" label="Requerido por la autoridad"></v-switch>
            <v-btn
              color="cyan"
              large
              depressed
              @click="submit()"
              :loading="loading"
              :disabled="loading || !formValid"
            >Editar Ciudadano</v-btn>
            <!--v-btn
              color="red"
              class="ml-2"
              large
              depressed
              @click="remove = !remove"
              :loading="loading"
              :disabled="loading || !formValid"
            >Eliminar Ciudadano</v-btn-->
          </v-col>
        </v-row>
      </v-form>
      <!--FORM END-->
    </v-card>
    <v-snackbar
      v-model="formError.state"
      :multi-line="true"
      :timeout="formError.timeout"
      :color="formError.color"
      :top="true"
    >
      {{ formError.msg }}
      <v-btn color="white" text @click="formError.state = false">Cerrar</v-btn>
    </v-snackbar>
    <v-bottom-sheet v-model="remove" persistent inset >
      <v-sheet class="text-center" height="250px" color="grey darken-3">
        <v-row class="fill-height px-4" align="center" justify="center">
          <!--Eliminar mascota-->
          <v-col cols="12">
            <div class="display-1 font-weight-light pt-0 px-0">Eliminar ciudadano:</div>
            <p>
              ¿Estás seguro de querer eliminar el ciudadano
              <b>{{form.nombres}} {{form.apellidos}}</b>?
              <br />Una vez eliminado desaparecerá del listado.
            </p>
          </v-col>
          <v-col cols="12">
            <v-btn color="blue" @click="remove = !remove">Cancelar</v-btn>
            <v-btn class="mx-4" color="red" @click="deletePerson()">Acepto</v-btn>
          </v-col>
        </v-row>
      </v-sheet>
    </v-bottom-sheet>

  </v-container>
</template>

<script>
import firebase from "firebase";
import { formValidation } from "@/libs/formValidation";
export default {
  name: "CiudadanosEdit",
  mixins: [formValidation],
  data() {
    return {
      remove: false,
      personData: null,
      form: {
        rH: null,
        apellidos: null,
        estatura: null,
        fechaExpedicion: null,
        fechaNacimiento: null,
        grupoSanguineo: null,
        identificacion: null,
        lugarExpedicion: null,
        lugarNacimiento: null,
        nombres: null,
        reportado: false
      },
      RHList: ["Positivo", "Negativo"],
      grupoSanguineoList: ["A", "AB", "B", "O"],
      ciudades: [],
      datePickerMenuNac: false,
      min: "1900-01-01",
      max: undefined,

      datePickerMenuExp: false,
      loading: false
    };
  },
  methods: {
    getCiudades() {
      var db = firebase.firestore();
      db.collection('ciudades').get().then((res) => {
        res.forEach(doc => {
          const item = doc.data();
          this.ciudades.push(item.nombreCiudad);
        });
      });
    },
    submit() {
      if (this.formValid) {
        this.loading = true;
        const editCiudadano = firebase
          .functions()
          .httpsCallable("editCiudadanoService");

        editCiudadano(this.form)
          .then(() => {
            this.loading = false;
            this.alertError("success", "Ciudadano editado exitosamente");
            this.$refs.form.reset();
            setTimeout(() => {
              this.$router.push("/dashboard");
            }, 2000);
          })
          .catch(() => {
            this.loading = false;
            this.alertError(
              "error",
              "Hubo un error, intenta nuevamente"
            );
            this.$refs.form.reset();
          });
      }
    },
    deletePerson() {
      this.remove = false;
      this.loading = true;
      const deletePerson = firebase
        .functions()
        .httpsCallable("deleteCiudadanoService");
      const req = {
          identificacion: this.form.identificacion
      };
      deletePerson(req)
        .then(() => {
          this.loading = false;
          this.alertError("success", "El ciudadano fue eliminado exitosamente");
          setTimeout(() => {
            this.$router.push("/dashboard/");
          }, 2500);
        })
        .catch(() => {
          this.loading = false;
          this.alertError("error", "Algo pasó, intenta más tarde");
        });
    }
  },
  created() {
    const d = new Date();
    let month = (d.getMonth()+1).toString();
    let day =  d.getDate().toString();
    if(month.length === 1) {
        month = '0' + month;
    }
    if(day.length === 1) {
        day = '0' + day;
    }
    this.max = d.getFullYear().toString() +'-'+ month +'-'+ day;
  },
  async mounted() {
    await this.getCiudades();
    if (this.$store.state.person) {
      this.personData = this.$store.state.person.data;
      this.form.apellidos = this.personData.apellidos;
      this.form.requerido = this.personData.requerido;
      this.form.fechaExpedicion = this.personData.fechaExpedicion;
      this.form.estatura = this.personData.estatura;
      this.form.grupoSanguineo = this.personData.grupoSanguineo;
      this.form.identificacion = this.personData.identificacion;
      this.form.lugarNacimiento = this.personData.lugarNacimiento;
      this.form.rH = this.personData.rH;
      this.form.nombres = this.personData.nombres;
      this.form.fechaNacimiento = this.personData.fechaNacimiento;
      this.form.lugarExpedicion = this.personData.lugarExpedicion;
    } else {
      this.$router.push("/dashboard");
    }
  }


};
</script>
