<template>
<v-container>
    <div class="text-right mb-3">
        <v-btn color="primary" outlined to="/dashboard/add">Agregar ciudadano</v-btn>
    </div>
    <v-card class="opaque">
        <v-sheet class="pa-1 mx-auto" color="transparent" max-width="100%" tile>
            <v-row align="center" justify="center">
                <v-col cols="12" sm="6" md="5" lg="6">
                    <v-text-field v-model="form.value" dense outlined label="Número de identificación" clearable @click:clear="clear()" hide-details></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="3" lg="2">
                    <v-btn color="success" @click="sendSearch()" :loading="loading" :disabled="loading || !form.value" block>Buscar</v-btn>
                </v-col>
                <v-col cols="12" sm="6" md="3" lg="2">
                    <v-btn color="cyan" @click="clear()" :loading="loading" :disabled="loading" block>Reiniciar</v-btn>
                </v-col>
            </v-row>
        </v-sheet>
    </v-card>

    <v-card class="mt-3 opaque">
        <div class="py-5" v-if="result.length === 0 && form.value.length <= 5 && loading === false">
            <h3 class="display-1 font-weight-light ">Documento no válido</h3>
        </div>
        <div class="py-5" v-if="result.length === 0 && form.value.length > 5 && loading === false">
            <h3 class="display-1 font-weight-light ">Ciudadano no registrado</h3>
        </div>
        <div class="py-5" v-if="result.length === 0 && form.value.length > 5 && loading === true">
            <h3 class="display-1 font-weight-light ">Cargando</h3>
        </div>
        <v-data-table v-if="result.length > 0" :headers="headers" :items="result" hide-default-footer>
            <template v-slot:item="{ item }">
                {{item}} HOLA
            </template>
        </v-data-table>
    </v-card>
</v-container>
</template>

<script>
import {
    formValidation
} from "@/libs/formValidation";
import firebase from "firebase";
export default {
    name: "CiudadanosList",
    mixins: [formValidation],
    data() {
        return {
            headers: [{
                    text: "Identificacion",
                    value: "data.identificacion",
                    sortable: false,
                    align: "left"
                },
                {
                    text: "Reportado",
                    value: "data.reportado",
                    sortable: false,
                    align: "left"
                },
                {
                    text: "Nombres",
                    value: "data.nombres",
                    sortable: false,
                    align: "left"
                },
                {
                    text: "Apellidos",
                    value: "data.apellidos",
                    sortable: false,
                    align: "left"
                },
                {
                    text: "Acciones",
                    value: "actions",
                    sortable: false,
                    align: "center"
                }
            ],
            form: {
                value: ""
            },
            result: [],
            loading: false
        };
    },
    methods: {
        resetFields(start) {
            this.form.value = "";
            if (start) {
                this.result = [];
            }
        },
        sendSearch() {
            this.result = [];
            this.searchFilter();
        },
        searchFilter() {
            const getList = firebase
                .functions()
                .httpsCallable("listCiudadanoService");
            this.loading = true;
            getList(this.form)
                .then(res => {
                    if (res.data && typeof res.data !== "string") {
                        res.data.forEach(item => {
                            this.result.push(item);
                        });
                    } else {
                        this.alertError("error", "No hay resultados");
                    }
                    this.loading = false;
                })
                .catch(() => {
                    this.loading = false;
                });
        },
        clear() {
            this.resetFields(true);
            this.searchFilter();
        },
        setPerson(item, edit) {
            this.$store.dispatch("setPerson", item);
            if (edit) {
                this.$router.push("/dashboard/edit");
            } else {
                this.$router.push("/dashboard/view");
            }
        }
    },
    mounted() {
        this.searchFilter();
    }
};
</script>
